*,*::before, *::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}

.shinchan{

}

.shinchan__head{
    position:relative;
}

.shinchan__headTop{
    height:13rem;
    width:27rem;
    background:#FAEEE0;
    position:absolute;
    right:0%;
    top: -75%;
    border-top-left-radius: 30rem;
    border-top-right-radius: 3rem 20rem;
    border: 0.3rem solid black;
    border-bottom: none;
}

.shinchan__topHear{
    height:13rem;
    width:27rem;
    border-top-left-radius: 30rem;
    border-top-right-radius: 30rem;
    position:absolute;
    right:-11%;
    top: -80%;
    background: black;
    z-index: -1;
    transform: rotate(10deg) scale(1.2);
    
}


.shinchan__headBottom{
    height:17rem;
    width:38rem;
    background:#FAEEE0;
    border-top-left-radius: 20rem;
    border-bottom-left-radius: 20rem;
    border:0.3rem solid black;
    border-top: none;
}