*,*::before, *::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --skin-color: rgb(246, 219, 199);
}
html{
    font-size: 62.5%;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}

.shinchan{

}

.shinchan__head{
    position:relative;
}

.shinchan__headTop{
    height:12rem;
    width:27rem;
    background:var(--skin-color);
    position:absolute;
    right:0%;
    top: -60%;
    border: 0.3rem solid black;
    border-bottom: none;
    border-top-left-radius: 55rem;
    border-top-right-radius: 50rem;
}


.shinchan__topHear{
    height:20rem;
    width:27rem;
    border-top-left-radius: 30rem;
    border-top-right-radius: 30rem;
    position:absolute;
    right:-5%;
    top: -60%;
    background: black;
    z-index: -1;
    transform: rotate(-10deg) scale(1.2);
    
}

.shinchan__headBottom{
    height:17rem;
    width:36rem;
    background:var(--skin-color);;
    border-top-left-radius: 40rem;
    border-bottom-left-radius: 40rem;
    border:0.3rem solid black;
    border-top: none;
}

.shinchan__ear{
    background: var(--skin-color);
    height: 12rem;
    border-radius: 50%;
    width: 10rem;
    left:34rem;
    top:5rem;
    position:absolute;
    border:0.3rem solid black;
    transform: rotate(0deg);
    border-left: 0.3rem solid transparent;
}

.shinchan__ear > path{
    border: 0.3rem solid black;
}

.shinchan__eye{
    height: 7rem;
    width:7rem;
    background:black;
    position:absolute;
    border-bottom-right-radius:49%;
    border-top-right-radius:48%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 48%;
    top:-15%;
}

.shinchan__eye::before{
    content:"";
    height:40%;
    width:45%;
    position:absolute;
    background: white;
    top:50%;
    left:50%;
    transform: translate(-40%,-50%);
    border-radius:50%;
    border-top-right-radius:40%;
    border-bottom-left-radius: 40%;
  
}

.shinchan__eye--left{
    left:40%;
}

.shinchan__eye--right{
    right:10%;
}

.shinchan__mouth{
    height: 8rem;
    width: 6rem;
    position:absolute;
    background:#B26261;
    border-radius: 50%;
    border:0.3rem solid black;
    top:10rem;
    left:7rem;
    transform: rotate(20deg);
}

.shinchan__brow{
    position:absolute;
    width: 8rem;
    height:8rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
    border-top: 0.3rem solid black;
    border-radius:50%;
    top:-5rem;
}

.shinchan__brow--left{
    left:12rem;
    transform:rotate(4deg);
}

.shinchan__brow--right{
    right:4rem;
    transform:rotate(4deg);
}

.shinchan__bigBrow{
    width: 7rem;
    height:7rem;
    position:absolute;
    border: 1.8rem solid black;
    border-radius: 2rem;
    clip-path: polygon(0% 0%, 85% 0%, 0% 85%);
    top:-50%;
    transform:rotate(45deg);
}

.shinchan__bigBrow--left{
    left:12rem;
}

.shinchan__bigBrow--right{
    left:25rem;
}